h1 {
  margin-top: 10px;
  margin-bottom: 40px;
}

.card {
  margin-top: 80px;
  width: 50%;
  margin:5px auto;
  padding: 10px;

}

.ip{
  width: 50%;
  margin:5px auto;
}

.error-message {
  color: red;
  font-weight: bold;
  width:60%;
  margin: 0 auto;
}
