<div *ngIf="errorStatus" class="error-message alert alert-danger" role="alert">{{ errorMessage }}</div>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcome to the app, {{ name }}</h5>
      <p class="card-text">Manage your Todos</p>
      <a routerLink="/todos" class="btn btn-primary">Visit Todo List</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Test Server Connection</h5>
      <button class="btn btn-primary" (click)="getParameterisedWelcomeMessage()">Connect to Server</button>
    </div>
  </div>

  <div class="card" *ngIf="welcomeMessage">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="welcomeMessage = ''">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="card-body">
      <h5 class="card-title">Welcome message</h5>
      {{ welcomeMessage }}
    </div>

  </div>

