table {
  width:60%;
  margin: 3em auto;
}

.badge {
  width: 10em;
  font-size: 0.9em;
  margin-top: 5px;

}

.delete{
  width:60%;
  margin: 0 auto;
}

.add {
  position: absolute;
  left: 20%;
}

.completed{
  text-decoration: line-through;
}



